/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        layer0 {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&bt BT_CLR    &kp Q        &kp W         &kp E           &kp R       &kp T          &kp Y      &kp U            &kp I         &kp O             &kp P                &kp LEFT_BRACKET
&kp CAPSLOCK  &mt LCTRL A  &mt LSHIFT S  &mt LALT D      &mt LCMD F  &kp G          &kp H      &mt LCMD J       &mt LALT K    &mt LEFT_SHIFT L  &mt LCTRL SEMICOLON  &kp SQT
&none         &kp Z        &kp X         &kp C           &kp V       &kp B          &kp N      &kp M            &kp COMMA     &kp DOT           &kp FSLH             &bt BT_NXT
                                         &mt LCMD TILDE  &lt 1 TAB   &lt 3 SPACE    &lt 5 RET  &lt 2 BACKSPACE  &lt 4 ESCAPE
            >;
        };

        r1 {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &none      &none           &none     &none     &none     &kp DOLLAR     &kp LEFT_BRACE  &kp UP_ARROW    &kp RIGHT_BRACE  &kp PERCENT    &none
&none  &kp LCTRL  &kp LEFT_SHIFT  &kp LALT  &kp LCMD  &none     &kp PLUS       &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp SEMICOLON  &kp COLON
&none  &none      &none           &trans    &trans    &trans    &kp AT_SIGN    &kp SQT         &kp COMMA       &kp PERIOD       &kp FSLH       &kp HASH
                                  &none     &trans    &none     &kp BACKSPACE  &trans          &none
            >;
        };

        l1 {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &kp BACKSLASH  &kp LEFT_BRACKET      &kp MINUS  &kp RIGHT_BRACKET      &kp AMPS         &none  &none     &none     &none           &none      &none
&none  &kp CARET      &kp LEFT_PARENTHESIS  &kp UNDER  &kp RIGHT_PARENTHESIS  &kp EXCL         &none  &kp LCMD  &kp LALT  &kp LEFT_SHIFT  &kp LCTRL  &none
&none  &kp STAR       &kp LESS_THAN         &kp EQUAL  &kp GREATER_THAN       &kp QUESTION     &none  &none     &none     &none           &none      &none
                                            &none      &none                  &kp BACKSPACE    &none  &none     &none
            >;
        };

        r2 {
            bindings = <
&trans  &trans     &trans          &trans    &trans    &trans    &trans      &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans
&trans  &kp LCTRL  &kp LEFT_SHIFT  &kp LALT  &kp LCMD  &trans    &trans      &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &trans  &trans
&trans  &trans     &trans          &trans    &trans    &trans    &trans      &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &trans  &trans
                                   &trans    &trans    &trans    &kp ESCAPE  &kp NUMBER_0  &trans
            >;
        };

        l2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans   &trans   &trans
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6    &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans   &trans   &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        letters {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &kp BACKSLASH    &trans  &trans             &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans           &trans  &trans             &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans           &trans  &kp RIGHT_BRACKET  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans           &trans  &trans             &trans
            >;
        };
    };
};
